<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>解密</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login0.css')}}">
</head>

<body>

        <div id="header">
            <div id="history">
                <button type="button">
                    <a href="/">主界面</a>
                </button>
            </div>
        </div>

    <div class="login-header">
        信息加密云平台
    </div>

    <div id="content">
        <form action="" method="POST" id="nameform">
            <div class="login-input-box">
                <input type="text" placeholder="输入文件名(不含后缀)" name=mod_img_path>
            </div>
        </form>

        <div class="login-button-box">
            <button type="submit" form="nameform">查 询</button>
        </div>
    </div>
</body>

</html>