<html>

<head>
    <meta charset="utf-8">
    <title>用户登陆历史</title>

    <link rel="stylesheet" type="text/css"
        href="{{url_for('static', filename='css/bootstrapt/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/history.css')}}" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div id="home_button">

                    <a href="/">
                        <button>Home</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">
                <h2 id="title">全体用户登陆历史记录</h2>
                <div id="list">
                    {% for item in history_login_list %}
                    <a href="#" class="list-group-item">用户id: {{ item.uid }} 登陆
                        <span class="label label-success">成功</span>
                        <span class="badge">{{ item.ctime }}</span>
                    </a>

                    <!-- {% if item.succ == 0 %}
                    <a href="#" class="list-group-item">{{ item.uid }}登陆
                        <span class="label label-success">成功</span>
                        <span class="badge">{{ item.ctime }}</span>
                    </a>
                    {% elif item.succ == 1 %}
                    <a href="#" class="list-group-item">{{ item.uid }}登陆
                        <span class="label label-danger">失败</span>
                        <span class="badge">{{ item.ctime }}</span>
                    </a>
                    {% endif %} -->
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>


</body>

</html>