<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login0.css')}}">
</head>
<body>
    <div class="login-header">
        英文文本信息隐藏系统
    </div>
    
    <div id="content">
        <form action="" method="POST" id="nameform">
            <div class="login-input-box">
                <span class="icon icon-user"></span>
                <input type="text" placeholder="输入你的账号" name=username>
            </div>

            <div class="login-input-box">
                <span class="icon icon-password"></span>
                <input type="password" placeholder="输入你的密码" name=password>
            </div>
        </form>
        <div class="remember-box">
            <label>
                <input type="checkbox"> 记住我
            </label>
        </div>
        <div class="login-button-box">

            <button type="submit" form="nameform">登 陆</button>
            <p></p>      
            <a href="/register">
                <button>注 册</button>
            </a>
        </div>
    </div>
</body>

</html>
